*{
  padding: 0;
  margin: 0;
}

html{
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
  
}

nav{
  top: 0;
  position: fixed;
  display: flex;
  width: 100%;
  height: 45px;
  background-color: rgba(0, 0, 0, .2);
  justify-content: space-between;
  align-items: center;
  font-family: cursive;
  backdrop-filter: blur(10px);
}

nav h1{
  color: #fff;
  font-size: 30px;
  /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
  margin-left: 7px;
  display: inline;
  font-weight: 800;
  
}

 nav .links  {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  font-size: 25px;
  
} 

 nav .links  ul.nav_bar  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
 }
 nav .links ul.nav_bar li a{
  color: white ;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0px 15px;
  } 
#sub_nav {
  display: none;
  position: absolute;
   background-color: rgba(0, 0, 0, .5);
}
#sub_nav li a  {
    color:white;
    
}
.search_bar input{
  color: black;
  font-size: 20px;
  font-family: cursive;
  font-weight: 300;
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
  
  
}
.search_bar a img{
  height: 25px;
  align-items: center;
}


.loginarea{
margin-right: 7px;
display: flex;
width: 170px;
justify-content: space-around;
align-items: center;
}

nav .loginarea a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  border: 1px solid white;
  border-radius: 30px;
  padding: 5px 10px;
  transition: .3s ease;
}

nav .loginarea a:hover{
 
  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=ea0e69&c2=983ce0&gt=l&gd=dtl
*/
background: rgba(234, 14, 105, 1.0);
background: linear-gradient(135deg, rgba(234, 14, 105, 1.0), rgba(152, 60, 224, 1.0));
}

nav .links ul li a:hover{
  transition: .3s ease;
  color: rgba(234, 14, 105, 1.0);
  transform: scale(1.2);
  }
 li:hover #sub_nav {
  display: block;
  position: absolute;
   }
   #sub_nav li a:hover{
    background-color: rgba(255, 255,255,.2);
    color:rgba(234, 14, 105, 1.0); ;
   }
.site-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url(https://wallpapercave.com/wp/wp9983504.jpg);
  background-size: cover;
}

.blog-post{
  width: 85%;
  /* max-width: 98rem; */
  margin-left: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 1rem 1rem 5rem rgba(0,0,0,.3);
  display: flex;
  align-items: center;
  border-radius: 15px;
}

.blog-post_img{
  min-width: 250px;
  max-width: 250px;
  height: 250px;
  transform: translateX(-70px);
  position: relative;
}

.blog-post_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 15px;
}

.blog-post_img::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, rgba(79,172,254,.8),rgba(0,242,254,.8));
  box-shadow: .5rem .5rem 1.4rem 1px rgba(0,0,0,.5);
  border-radius: 15px;
}

.blog-post_date span{
  display: block;
  color: rgba(0,0,0,.5);
  font-size: 1.6rem;
  font-weight: 600;
  margin: 2px 0;
}

.blog-post_title{
  font-size: 2.5rem;
  margin: 10px 0 4px;
  text-transform: uppercase;
  color: #4facfe;
}

.blog-post_text{
  margin-bottom: 1rem;
  font-size: 20px;
  color: rgba(0,0,0,.7);
}

.blog-post_cta{
  display: inline-block;
  padding: .5rem 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #fff;
  border-radius: .2rem;
  background-image: linear-gradient(to right, #4facfe, #00f2fe 100%);
}

footer {
  display: flex;
  width: 100%;
  height: 30px;
  background-color: palegreen;
  justify-content: space-around;
  align-items: center;
}


@media screen and (max-width: 1000px){
  .blog-post{
    max-width: 85%;
    flex-direction: column;
    margin-left: 0;
  }

  .blog-post_img{
    min-width: none;
    width: 85%;
    max-width: none;
    transform: translate(0,-30%);
  }

}